@media screen and (max-width: 700px) {
  .bg-container,
  .bg-content,
  html {
    background-color: #ffffff !important;
  }
}
@media (prefers-color-scheme: dark) {
  body,
  html,
  .bg-container {
    background-color: #1b1c1e !important;
  }
  .bg-content {
    background-color: #2d2d2d !important;
  }

  strong {
    color: #ffffff;
  }

  a {
    color: #1b89ef;
  }
}

@media screen and (max-width: 700px) and (prefers-color-scheme: dark) {
  .bg-container,
  .bg-content {
    background-color: #1b1c1e !important;
  }
  body,
  html {
    background-color: #1b1c1e !important;
  }
}
